html{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
.header{
    line-height:60px;
    background-color:#324157;
}
.header .logo{
    text-align: center;
}
.header .logo-text{
    color: #bfcbd9;
}
.header .header-nav-menu-item{
    float: right !important;
}
.header .header-nav-menu-item:first-child {
    margin-right: 50px;
}
.main{
    width: 100%;
    background-color: #324157;
    position: absolute;
    top: 60px;
    bottom: 0px;
}
.main .workspace{
    height:100%;
    background-color: white;
}