
/*Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);*/

/*Variables*/
@import "variables";

/*Bootstrap*/
/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/

html{
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app{
  height:100%;
  .header{
    line-height:60px;
    background-color:#324157;
    .logo{
      text-align: center;
      .text{
        color: #bfcbd9;
      }
    }
    .header-nav-menu-item{
      float: right !important;
    }
    .header-nav-menu-item:first-child {
      margin-right: 50px;
    }
  }
  .body{
    display: flex;
    height:100%;
    .side-menu{
      background-color: #324157;
    }
    .workspace{
      height:100%;
      width:100%;
      padding: 0 20px 0 20px;
      background-color: white;
    }
  }
}
.fa{
  margin-right: 10px;
}

